<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en-US" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<html class="no-js" dir="ltr"
  xmlns:og="http://ogp.me/ns#"
  xmlns:article="http://ogp.me/ns/article#"
  xmlns:book="http://ogp.me/ns/book#"
  xmlns:profile="http://ogp.me/ns/profile#"
  xmlns:video="http://ogp.me/ns/video#"
  xmlns:product="http://ogp.me/ns/product#"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:sioc="http://rdfs.org/sioc/ns#"
  xmlns:sioct="http://rdfs.org/sioc/types#"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
  xmlns:schema="http://schema.org/">
  
  <head profile="http://www.w3.org/1999/xhtml/vocab">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7, user-scalable=no">
	
	<title>AWD - Blank Template Example</title>
	<link rel='stylesheet' id='awd-layout-css' href='css/layout.css' type='text/css' media='all' />
	
  </head>
  <body>
	<div id="awd-blank">
		<header id="awd-header">
			<h1 class="logo">AWD - Blank Template Example</h1>
			<h2 class="site-description">this is a demo of the awd framework</h2>
			<nav>
				<ul>
					<li><a href="#">Test 1</a></li>
					<li><a href="#">Test 2</a></li>
					<li><a href="#">Test 3</a></li>
				</ul>
			</nav>
		</header>
		
		<main id="awd-content" class="content example-page">
			<br /><br /><br /><br /><p style='text-align: center;'>HELLO WORLD!</p>
		</main>
		
		</main>
	
		<footer id="awd-footer">
			<div class="copyright">
					<p>&copy; 2018 AWD Framework </p>
				</div>
		</footer>
	</body>
</html>